package site

import (
  "strconv"
  "github.com/vladanan/vezbamo4/src/clr"
  "fmt"
)

templ ServerError(err clr.APIError) {
  <h1 class="m-5 px-2 border-1 text-xl rounded-m text-green-500"> {strconv.Itoa(err.StatusCode)} {fmt.Sprint(err.Msg)}</h1>
}