package site

import (
  "net/http"
  "github.com/vladanan/vezbamo4/src/views"
	"github.com/gorilla/sessions"
)

templ UserNotLogedPage(store sessions.Store, r *http.Request) {
  @views.Layout(store, r) {
    <p class="m-5 text-xl text-blue-300">{views.Translate(store, r, "UnWelcome")}</p>

    <br></br><br></br><br></br><br></br><br></br><br></br>
  }
}