package site

import (
  "net/http"
  "github.com/vladanan/vezbamo4/src/views"
	"github.com/gorilla/sessions"
)

templ UserNotLogedPage(store sessions.Store, r *http.Request) {
  @views.Layout(store, r) {
    <h1>.</h1>
    <h1 class="mt-20">{views.Translate(store, r, "UnWelcome")}</h1>
  }
}